@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 8rem;
  letter-spacing: 0.2rem;
  color: #119eb5;
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
  width: 60rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  border-radius: 0.3rem;
  margin: 20px 0 40px ;
  box-shadow: 1px 1px 6px #b3b3b3e6;
  position: relative;
}

.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(241, 98, 98);
  width: calc(100% - 0.4rem);
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  margin: 0 0.5rem;
  border-radius: 0.3rem;
  height: 3rem;
}

.search-form__text {
  border: 1px solid rgba(1, 166, 194, 0.7);
  padding: 0 0.5rem;
  width: 60%;
  color: #656565;
  caret-color: #119eb5;
}

.search-form__text::placeholder {
  color: #119eb5;
}

.search-form__text:focus::placeholder {
  color: transparent;
}

.search-form__submit {
  width: 25%;
  text-transform: uppercase;
  background-color: #119eb5;
  color: #fff;
  cursor: pointer;
  border: #119eb5;
}

.recipes {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 2rem;
  position: relative;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 6px #b3b3b3e6;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.3rem;
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

.recipe a {
  font-size: 1.9rem;
  color: #119eb5;
  text-transform: uppercase;
  cursor: pointer;
}

.recipe button {
  margin-top: 15px;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #119eb5;
  border: none;
  border-radius: 0.3rem;
  padding: 8px;
  cursor: pointer;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.6rem;
  color: #888;
}

.ingredient-weight {
  color: #ff8431;
  font-size: 1.5rem;
}

@media (max-width: 712px) {
  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 620px){
  .search-form{
    width: 53rem;
  }

  .search-form__submit {
    width: 100%;
  }

  .search-form__text {
    width: 100%;
  }
}

@media (max-width: 555px) {
  h1 {
    font-size: 4rem;
  }

  .search-form{
    width: 36rem;
  }
}

@media (max-width: 371px) {
  h1 {
    font-size: 3rem;
  }

  .search-form{
    width: 29rem;
  }
}